@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

:root {
  --bg: rgb(27, 27, 41);
  --fg: rgb(43, 43, 65);
  --highlight: rgb(223, 223, 223);
  --dark: rgb(177, 175, 175);
  --shadow: drop-shadow(4px 4px 5px #0f0f0f);
}

body {
  background-color: var(--bg);
  box-sizing: border-box;
  font-family: "Open Sans";
}
.container {
  max-width: 375px;
  margin: auto;
}
.heading {
  color: var(--highlight);
  margin-bottom: 40px;
  text-transform: uppercase;
}
.profile-page-link {
  transition: ease-in 200ms;
  text-decoration: none;
  padding: 5px;
  background-color: var(--dark);
  color: var(--bg);
}
.profile-page-link:hover {
  background-color: var(--highlight);
  color: var(--bg);
}
.section {
  background-color: var(--fg);
  margin: 10px auto;
  padding: 20px;
  filter: var(--shadow);
}
.section-title {
  color: var(--highlight);
  margin-top: 30px;
  margin-bottom: 10px;
}

.intro,
.email {
  color: var(--dark);
}
